<headder class="navbar">
    <nav class="just">
        <ul>
            <l class="li" ><a class="links" href='#section1'> Portfolio</a></l>
            <li class="li" ><a class="links" href='#section2'> Sobre Mi</a></li>
            <li class="li" ><a class="links" href='#section3'> Proyectos</a></li>
            <li class="li" ><a class="links" href='https://github.com/Martin-Cifre' target="_blank"> Repositorio</a></li>
        </ul>
    </nav>
        <a href="#"> <button class="btnContacto">Descargar CV</button> </a>
</headder>
