<headder class="navbar">
    <nav class="just">
        <ul>
            <l class="li" ><a class="links" href='#section1'> HOME</a></l>
            <li class="li" ><a class="links" href='#section2'> CV</a></li>
            <li class="li" ><a class="links" href='#section3'> PROYECTOS</a></li>
            <li class="li" ><a class="links" href='https://github.com/Martin-Cifre'> REPOSITORIO</a></li>
        </ul>
    </nav>
        <a href="#"> <button class="btnContacto">Contacto</button> </a>
</headder>
