<!-- GAME QUEST STORE -->

<div class="card margProy" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ibb.co/Qr3QxfV/03.jpg">
  <div class="card-body">
    <h5 class="card-title">Game Quest Store</h5>
    <p class="card-text">Express, HTML y CSS</p>
    <a href="https://gamequeststore.onrender.com/" class="btn btn-primary">visita</a>
</a>
  </div>
</div>

<!-- MERCADO LIEBRE -->

<div class="card margProy" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ibb.co/3mMSbHm/04.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mercado Liebre</h5>
    <p class="card-text">HTML y CSS.</p>
    <a href="#" class="btn btn-primary">visita</a>
  </div>
</div>

<!-- PORTFOLIO -->

<div class="card margProy" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ibb.co/sj00hrM/02.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Portfolio</h5>
    <p class="card-text">Express, HTML, CSS.</p>
    <a href="#" class="btn btn-primary">visita</a>
  </div>
</div>


<!-- POKEDEX -->

<div class="card margProy" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ibb.co/tBX0GvQ/01.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Pokedex</h5>
    <p class="card-text">React y una API externa.</p>
<a href="#" class="btn btn-primary">visita</a>
</a>
  </div>
</div>





